{% extends "base.html" %}
{% block content %}
<div class = "row">
	<div class = "span12">
		<div id = "demovideo">
			<iframe src="http://player.vimeo.com/video/64940105?color=8ed0b7" width="800" height="501" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</div>
	</div>

	<div id = "description">


	<div class = "span6 offset6">
		<div id = "mat"></div>
		<h2>Smart Mat lets you track your yoga practice in a new way.</h2>


		<h3>Smart Mat uses force–resistance sensors built into a yoga mat to measure the distribution of your body weight as you move through the balance poses of your yoga practice. These four sensors enable you to keep track of your posture while giving you optional real-time feedback on the symmetry of your pose</h3>
	</div>

	<div class = "span6">
		<div id = "mobile">
		<h2>The Smart Mat application gives you on-the-spot auditory feedback.</h2>

		<h3>By tracking the changes in your body’s balance, Smart Mat shows you the patterns of your movement and flow and offers focused feedback that helps you improve your yoga practice.</h3>
		</div>
	</div>

	<div class = "span6 offset6">
		<div id = "laptop">
		<h2>Your downward dog will be more balanced than ever.</h2>

		<h3>Smart Mat provides a visual summary of your practice, and tracks your improvements over time.</h3>
		</div>
	</div>

</div>

</div>

{% endblock %}